<%= javascript_include_tag 'land/index.js' %>

<div class="register_main">
  <div class="reginster_local">
    <div class="reginster_input">
      <span>用户名:</span>
      <input id="user" type="text" />
      <br/>
    </div>
    <div class="reginster_input">
      <span>密码:</span>
      <input id="password" type="password" />
      <br/>
    </div>
    <div class="reginster_input">
      <span>确认密码:</span>
      <input id="repeat_password" type="password"/>
      <br/>
    </div>
    <div class="reginster_input">
      <span>邮箱:</span>
      <input id="email" type="email" />
      <br/>
    </div>
    <div class="reginster_input">
      <button id="submit" onclick="save_user_info()">确认注册</button>
      <button onclick="jump_page('/')">取消</button>
    </div>
  </div>
</div>