
<div class="head_tag">
  <div class="head_left">
    <button class="head_button" onclick="jump_page('/main/index?sort_mode=1&page=1')">帖子中心</button>
    <button class="head_button" onclick="jump_page('/note_info/user_note')">个人帖子</button>
    <button class="head_button" onclick="jump_page('/user_center/index')">用户中心</button>
  </div>
  <div class="head_right">
    <button id="land_success" class="head_button" onclick="jump_page('/')">切换用户</button>
    <button class="head_button" onclick="jump_page('/land/register')">注册</button>
  </div>
</div>