


.head{
    background-color: #ffffff;
    line-height: 50px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.block_frame{
    margin-top: 10px;
    height: 80px;
    padding-top: 20px;
    background-color: #ffffff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.left{
    float: left;
    margin: 5px;
}
.left span{
    margin: 5px;
}

.head_image{
    float: left;
    margin-left: 20px;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 0;
    background-color: #CCCCCC;
}

.upload_image{
    margin-top: 10px;
    width: 60px;
    height: 60px;
    background-color: #CCCCCC;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.margin-left-20{
    margin-left: 20px;
}

.right_image1{
    width: 15px;
    height: 25px;
    float: right;
    margin-right: 10px;
}
.font-color{
    color: #887878;;
}

.upload_image_fram{
    display: none;
    width: 200px;
    height: 300px;
    position: relative;
    bottom: 400px;
    left: 140px;
    background-color: #e4edef;
    z-index: 10;
}
.close_button{
    margin-right: 5px;
    margin-top: 5px;
    float: right;
    border: 0;
    font-size: 20px;
    background-color: #e4edef;
}

.choose_button{
    width: 70px;
}

.upload_button{
    width: 100px;
    position: absolute;
    bottom: 20px;
    border-radius: 10px;
    background-color: #65b5c5;
    right: 43px;
    line-height: 30px;
    font-size: 16px;
}

