.show_comment_fram{
    border-bottom: 1px solid #ffffff;
}
.comment_main_fram{
    border-top: 1px solid #151313;
}
.comment_head_image{
    float: left;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 0;
    background-color: #CCCCCC;
}
.margin-left-5{
    margin: 0;
    margin-left: 5px;
}
.comment_content{
    text-align: left;
    margin-bottom: 30px;
}

.confirm_button{
    width: 500px;
    line-height: 50px;
    background-color: #1936ed;
    margin: 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    border: 0;
    position: fixed;
    bottom: 0;

}
.delete_button{
    float: right;
    margin: 10px 30px 10px 0;
    width: 50px;
    line-height: 30px;
    border-radius: 10px;

}

.edit_note{
    display: none;
    background-color: rgba(120,120,120,0.5);
    background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.edit_note_fram{
    position: fixed;
    top: 30%;
    left: 55%;
    width: 400px;
    margin-left: -200px;
    height: 150px;
    background-color: #ffffff;
}

.edit_note_fram textarea{
    float: left;
    width: 360px;
    margin: 10px 20px;
}

.edit_note_fram button{
    width: 150px;
    line-height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
