<div class="head_tag">
  <div class="head_left">
    <button class="head_button" onclick="jump_page('/user_information/get_all_user')">用户管理</button>
    <button class="head_button" onclick="jump_page('/note_info/index')">帖子管理</button>
  </div>
</div>